[submodule "backend/data-fakker"]
	path = backend/data-fakker
	url = https://github.com/maian3333/data-fakker.git
	branch = main

[submodule "backend/ridehub-central-common"]
	path = backend/ridehub-central-common
	url = https://github.com/maian3333/ridehub-central-common.git
	branch = main

[submodule "backend/ridehub-central-config"]
	path = backend/ridehub-central-config
	url = https://github.com/maian3333/ridehub-central-config.git
	branch = main

[submodule "backend/ridehub-gateway"]
	path = backend/ridehub-gateway
	url = https://github.com/maian3333/ridehub-gateway.git
	branch = main

[submodule "backend/ridehub-ms-booking"]
	path = backend/ridehub-ms-booking
	url = https://github.com/maian3333/ridehub-ms-booking.git
	branch = main

[submodule "backend/ridehub-ms-promotion"]
	path = backend/ridehub-ms-promotion
	url = https://github.com/maian3333/ridehub-ms-promotion.git
	branch = main

[submodule "backend/ridehub-ms-route"]
	path = backend/ridehub-ms-route
	url = https://github.com/maian3333/ridehub-ms-route.git
	branch = main

[submodule "backend/ridehub-ms-user"]
	path = backend/ridehub-ms-user
	url = https://github.com/maian3333/ridehub-ms-user.git
	branch = main


[submodule "infra/vps-microservices"]
	path = infra/vps-microservices
	url = https://github.com/maian3333/vps-microservices.git
	branch = main

[submodule "infra/vps-infra"]
	path = infra/vps-infra
	url = https://github.com/maian3333/vps-infra.git
	branch = main

