[submodule "backend/ridehub-central-common"]
    path = backend/ridehub-central-common
    url = https://github.com/LeTrungMiniuh/ridehub-central-common.git
    branch = main

[submodule "backend/ridehub-central-config"]
    path = backend/ridehub-central-config
    url = https://github.com/LeTrungMiniuh/ridehub-central-config.git
    branch = main
    
[submodule "spi/keycloak-custom-reg"]
	path = spi/keycloak-custom-reg
	url = https://github.com/maian3333/keycloak-custom-reg.git
[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/maian3333/ridehub-gateway.git
[submodule "backend/ms_booking"]
	path = backend/ms_booking
	url = https://github.com/maian3333/ridehub-ms-booking.git
[submodule "backend/ms_promotion"]
	path = backend/ms_promotion
	url = https://github.com/maian3333/ridehub-ms-promotion.git
[submodule "backend/ms_route"]
	path = backend/ms_route
	url = https://github.com/maian3333/ridehub-ms-route.git
[submodule "backend/ms_user"]
	path = backend/ms_user
	url = https://github.com/maian3333/ridehub-ms-user.git
[submodule "backend/ms_user"]
	path = backend/ms_user
	url = https://github.com/maian3333/vps-microservices.git
[submodule "backend/ms_user"]
	path = backend/ms_user
	url = https://github.com/maian3333/vps-infra.git
