[submodule "backend/ms_booking"]
	path = backend/ms_booking
	url = https://github.com/phungle-vip/ridehub-ms-booking.git
[submodule "backend/ms_route"]
	path = backend/ms_route
	url = https://github.com/phungle-vip/ridehub-ms-route.git
[submodule "backend/ms_promotion"]
	path = backend/ms_promotion
	url = https://github.com/phungle-vip/ridehub-ms-promotion.git
[submodule "backend/ms_user"]
	path = backend/ms_user
	url = https://github.com/phungle-vip/ridehub-ms-user.git
[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/phungle-vip/ridehub-gateway.git
[submodule "infra/vps-microservices"]
	path = infra/vps-microservices
	url = https://github.com/phungle-vip/vps-microservices.git
[submodule "infra/vps-infra"]
	path = infra/vps-infra
	url = https://github.com/phungle-vip/vps-infra.git
[submodule "infra/shared/ridehub-shared"]
	path = infra/shared/ridehub-shared
	url = https://github.com/phungle-vip/ridehub-shared.git

[submodule "infra/shared/ridehub-contract"]
	path = infra/shared/ridehub-contract
	url = https://github.com/phungle-vip/ridehub-contract.git
