<div>
  <h2 id="page-heading" data-cy="RouteHeading">
    <span jhiTranslate="gatewayApp.msRouteRoute.home.title">Routes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.msRouteRoute.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-route"
        [routerLink]="['/route/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="gatewayApp.msRouteRoute.home.createLabel">Create a new Route</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="gatewayApp.msRouteRoute.home.search">Search for Route</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'gatewayApp.msRouteRoute.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (routes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.msRouteRoute.home.notFound">No Routes found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.id">Id</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="routeName">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.routeName">Route Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="origin">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.origin">Origin</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="destination">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.destination">Destination</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="distance">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.distance">Distance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estimatedDuration">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.estimatedDuration">Estimated Duration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transportType">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.transportType">Transport Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedAt">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.msRouteRoute.updatedAt">Updated At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (route of routes(); track trackId(route)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/route', route.id, 'view']">{{ route.id }}</a>
              </td>
              <td>{{ route.routeName }}</td>
              <td>{{ route.origin }}</td>
              <td>{{ route.destination }}</td>
              <td>{{ route.distance }}</td>
              <td>{{ route.estimatedDuration }}</td>
              <td [jhiTranslate]="'gatewayApp.TransportType.' + (route.transportType ?? 'null')">
                {{ { null: '', TRAIN: 'TRAIN', BUS: 'BUS' }[route.transportType ?? 'null'] }}
              </td>
              <td>{{ route.isActive }}</td>
              <td>{{ route.createdAt | formatMediumDatetime }}</td>
              <td>{{ route.updatedAt | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/route', route.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/route', route.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(route)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
